@charset "UTF-8";

@media screen and (min-width: 768px) {
    i#burguer {
        display: none;
    }

    header {
        padding: 0px 50px;
    }

    menu {
        display: block;
        margin-left: 10px;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu > ul > li > a {
        background-color: white;
        border: none;
        border-radius: 10px;
        color: black;
    }

    menu > ul > li > a:hover {
        background-color: black;
        color: white;
    }

    main {
        width: 768px;
    }
}